@use "src/assets/styles/color" as color;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 24px;
  width: 178px;

  .logoImg {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 8px;
  }

  .logout {
    position: fixed;
    bottom:0;
    display: flex;
    align-items: center;
    margin-top: auto;
    cursor: pointer;

    .logoutImg {
      width: 24px;
      height: 24px;
      padding: 3px;
      margin: 16px;
    }

    .btnName {
      font-size: 18px;
    }

    &:hover .logoutImg {
      content: url("../../assets/icons/logout-Icon-active.svg");
    }

    &:hover .btnName {
      color: color.$brand-color;
    }
  }
}

.activeLinkCheck {
  color: color.$brand-color;
}





