@use "src/assets/styles/color" as color;

.container {
  position: absolute;
  top: 16px;
  right: 130px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);
  width: 273px;
  border-radius: 16px;
  background-color: color.$gray-2;
  margin-left: 24px;

  .title {
    display: flex;
    align-items: center;
    height: 74px;
    margin-left: 24px;
    line-height: 100%;

  }
  
  .list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid color.$assistant-gray;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

