@use "src/assets/styles/color" as color;

.container {
  margin-top: 16px;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 902px;
  width: 273px;
  border-radius: 16px;
  background-color: color.$gray-2;
  margin-left: 24px;

  .title {
    display: flex;
    align-items: center;
    height: 82px;
    margin: 24px;
    line-height: 100%;

  }
  
  .list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid color.$assistant-gray;
  
  }
}

