.fieldContainer{
    position: relative;
}
.tweetContainer{
    display: flex;
    width: 100%;
    padding: 16px 24px 0 24px;
}
.avatar{
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .textAreaContainer {
    margin-left: 8px;
    margin-top: 12px;
    width: 100%;
    height: 156px;
  
    textarea {
      width: 528px;
      min-height: 110px;
      border: none;
      resize: none;
      font-size: 16px;
      color: var(--dark-100);
  
      &::placeholder {
        font-family: var(--main-font-family);
        font-size: 16px;
        color: var(--secondary-color);
      }
  
      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
  .errorMessage {
    color: var(--danger);
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    right: 101px;
    bottom: 28px;
  }
  .tweetButton {
    width: 64px;
    position: absolute;
    bottom: 16px;
    right: 24px;
  }