.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;

  .logo {
    height: 50px;
    width: 50px;
  }

  .title {
    margin: 24px 0 40px 0;
  }

  .AuthInputContainer {
    width: 356px;
  }
}





