@use "../../assets/styles/color" as color;

.container {
    display: flex;
    justify-content: center;
  }
  
  .middleContainer {
    width: 639px;
    border-left: 1px solid color.$assistant-gray;
    border-right: 1px solid color.$assistant-gray;
  }
  .input{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .button{
    padding-left: 550px;
  }
