@use "../../assets/styles/color" as color;

.container {
  display: flex;
  justify-content: center;
}

.middleContainer {
  top: 0;
  width: 639px;
  border-left: 1px solid color.$assistant-gray;
  border-right: 1px solid color.$assistant-gray;
}

ul {
  display: flex;
  width: 390px;
}

li {
  width: 130px;
  height: 52px;
  display: flex;
}

.link {
  margin-top: 16px;
}

.link a {
  cursor: pointer;
  display: block; // 使a元素填充整個li區塊
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  text-align: center; // 文本水平居中
  line-height: 52px; // 設定與li高度相同，使文本垂直居中
  color: color.$secondary-color;
  &:hover {
      border-bottom: 1px solid color.$brand-color;
      color: color.$brand-color;
    }
}
