@use "../../assets/styles/color" as color;

.container {
  display: flex;
  justify-content: center;
}

.middleContainer {
  top: 0;
  width: 639px;
  border-left: 1px solid color.$assistant-gray;
  border-right: 1px solid color.$assistant-gray;
}

ul {
  display: flex;
  width: 390px;
}

li {
  width: 130px;
  height: 52px;
  display: flex;
}

.link {
  margin-top: 30px;
}

.userSetClass {
  font-family: Noto Sans TC;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  width: 130px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color.$brand-color;
  border-bottom: 2px solid color.$brand-color;
}

.userLink {
  font-family: Noto Sans TC;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  width: 130px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #657786;

  &:hover {
    font-size: medium;
    color: color.$brand-color;
    cursor: pointer;
  }
}
